[build]
  publish = "."

[build.processing]
  skip_processing = false

[build.processing.css]
  bundle = true
  minify = true

[headers]
  for = "/*"
    [headers.values]
    Cache-Control = "no-cache"
    X-Frame-Options = "DENY"
    X-XSS-Protection = "1; mode=block"
